<aside id="left-sidebar" class="w-80 bg-white border-r border-[#dee2e6]/50 flex flex-col p-5 smooth-transition shrink-0 z-20 overflow-y-auto no-scrollbar">
  <h3 class="text-xs font-urdu font-bold text-[#6c757d] mb-5 pb-2 border-b border-[#dee2e6]/50 tracking-wide">فوری نیویگیشن سلیکٹرز</h3>
  <div class="flex flex-col gap-5">
    <div class="bg-[#f8f9fa] p-4 rounded-xl border border-[#dee2e6]/40">
      <label class="text-xs font-urdu font-bold text-[#4b7c3d] block mb-2">سورۃ کے مطابق آیت پر جائیں:</label>
      <select class="w-full bg-white border border-[#dee2e6] rounded-xl p-2.5 text-xs font-urdu outline-none focus:border-[#4b7c3d] smooth-transition cursor-pointer" id="sidebar-surah-dropdown">
      </select>
      <select id="sidebar-ayah-select" class="w-full bg-white border border-[#dee2e6] rounded-xl p-2.5 text-xs font-urdu outline-none focus:border-[#4b7c3d] smooth-transition mt-3 hidden cursor-pointer">
      </select>
    </div>

    <div class="bg-[#f8f9fa] p-4 rounded-xl border border-[#dee2e6]/40">
      <label class="text-xs font-urdu font-bold text-[#ae8422] block mb-2">پارہ کے مطابق رکوع پر جائیں:</label>
      <select class="w-full bg-white border border-[#dee2e6] rounded-xl p-2.5 text-xs font-urdu outline-none focus:border-[#ae8422] smooth-transition cursor-pointer" id="sidebar-para-dropdown">
      </select>
      <select id="sidebar-ruku-select" class="w-full bg-white border border-[#dee2e6] rounded-xl p-2.5 text-xs font-urdu outline-none focus:border-[#ae8422] smooth-transition mt-3 hidden cursor-pointer">
      </select>
    </div>
  </div>
</aside>
