<header style="background: var(--dorar-nav-gradient);" class="h-16 px-6 flex items-center justify-between z-30 shrink-0 shadow-md relative">
  <div class="flex items-center gap-4">
    <button id="toggle-right-sidebar" class="p-2 hover:bg-white/10 active:bg-white/20 text-white rounded-xl cursor-pointer smooth-transition">
      <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"/></svg>
    </button>
    <h1 class="font-urdu-kasheeda text-2xl lg:text-3xl text-white drop-shadow-sm font-medium pr-1">فیضان آن لائن اکیڈمی</h1>
  </div>

  <div class="flex-1 max-w-lg mx-12 hidden md:block">
    <div class="relative group">
      <div class="absolute inset-0 bg-white/10 group-hover:bg-white/15 focus-within:!bg-white rounded-xl smooth-transition border border-white/10 focus-within:border-transparent backdrop-blur-md"></div>
      <input type="text" placeholder="تلاش کریں (سورۃ، پارہ، آیت نمبر، اسباق)..." class="w-full relative z-10 bg-transparent text-white focus:text-[#19232a] rounded-xl py-2.5 pr-11 pl-4 text-xs font-urdu outline-none smooth-transition placeholder-white/70 focus:placeholder-[#6c757d]">
      <svg class="w-4 h-4 text-white group-focus-within:text-[#4b7c3d] absolute top-3.5 right-4 z-20 smooth-transition" fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/></svg>
    </div>
  </div>

  <div class="flex items-center gap-3">
    <button class="bg-[#14f08b]/20 hover:bg-[#14f08b] text-[#14f08b] hover:text-stone-900 px-4 py-2 rounded-xl text-xs font-urdu font-bold smooth-transition cursor-pointer shadow-xs border border-[#14f08b]/30">یومیہ حاضری</button>
    <button class="bg-[#ffc107]/20 hover:bg-[#ffc107] text-[#ffc107] hover:text-stone-900 px-4 py-2 rounded-xl text-xs font-urdu font-bold smooth-transition cursor-pointer shadow-xs border border-[#ffc107]/30">ہوم ورک</button>
    <div class="w-9 h-9 rounded-xl bg-white/20 text-white border border-white/20 flex items-center justify-center font-urdu font-bold text-base cursor-pointer shadow-xs hover:scale-105 smooth-transition">ف</div>
    <button id="toggle-left-sidebar" class="p-2 hover:bg-white/10 active:bg-white/20 text-white rounded-xl cursor-pointer smooth-transition">
      <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h8m-8 6h16"/></svg>
    </button>
  </div>
</header>


        
      



